[submodule "themes/next"]
	path = themes/next
	url = https://github.com/chaoskyme/hexo-theme-next.git
[submodule "themes/next-reloaded"]
	path = themes/next-reloaded
	url = https://github.com/chaoskyme/hexo-theme-next-reloaded.git
